# PATH: keystore.properties.template
# 
# IMPORTANT: Copy this file to keystore.properties and fill in your actual values
# DO NOT commit keystore.properties to version control (add to .gitignore)
#
# To generate a keystore:
# keytool -genkey -v -keystore kingdom-release.jks -keyalg RSA -keysize 2048 -validity 10000 -alias kingdom

storeFile=path/to/kingdom-release.jks
storePassword=your_store_password_here
keyAlias=kingdom
keyPassword=your_key_password_here
